-# -*- coding: UTF-8 -*-
-# Coquelicot: "one-click" file sharing with a focus on users' privacy.
-# Copyright © 2010-2013 potager.org <jardiniers@potager.org>
-#           © 2011 mh / immerda.ch <mh+coquelicot@immerda.ch>
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

!!! XML
!!! Strict
%html(xmlns='http://www.w3.org/1999/xhtml')
  %head
    %title Coquelicot
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8" }
    %meta{ :name => 'generator', :content => "Coquelicot #{Coquelicot::VERSION}" }
    %base{ :href => uri('/') }
    %link{ :rel => 'stylesheet', :href => "style.css", :type => 'text/css', :media => "screen, projection" }
    - unless settings.additional_css.empty?
      %link{ :rel => 'stylesheet', :href => "#{settings.additional_css}", :type => 'text/css', :media => "screen, projection" }
    %script{ :type => 'text/javascript', :src => 'javascripts/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => 'javascripts/jquery.lightBoxFu.js' }
    %script{ :type => 'text/javascript', :src => 'javascripts/jquery.uploadProgress.js' }
    :javascript
      var i18n = { generateRandomPassword: _('Generate random'),
                   generatingRandomPassword: _('Generating…'),
                   writeItDown: _('Don\'t forget to write it down!'),
                   pleaseTryAgain: _('Please try again!'),
                   error: _('Error:'),
                   uploadStarting: _('Upload starting...'),
                   uploading: _('Uploading: '),
                   kib: _('KiB'),
                 };
    %script{ :type => 'text/javascript', :src => 'javascripts/coquelicot.js' }
  %body
    #header
      - unless uri.end_with? '/README'
        - Coquelicot::AVAILABLE_LOCALES.each do |locale|
          %a{ :href => uri + "?lang=#{locale}" }= locale
    #container
      = yield
    #footer
      %div
        %a{ :href => 'about-your-data' }= _('About your data…')
        = '—'
        %a{ :href => 'README' }= 'Coquelicot'
        = '© 2010-2013 potager.org —'
        %a{ :href => 'http://www.gnu.org/licenses/agpl.txt' }= 'AGPLv3'
      %div
        %code= "#{clone_command}"
